<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547905491103-7ab2blsj683pu0j8egvmee2hrpqmm88k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547905491103-7ab2blsj683pu0j8egvmee2hrpqmm88k</string>
	<key>API_KEY</key>
	<string>AIzaSyAeQ_Tq02fGv4zyP6ISStUiDo8O27sVkPo</string>
	<key>GCM_SENDER_ID</key>
	<string>547905491103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pmthuan.TSwiftChatApp</string>
	<key>PROJECT_ID</key>
	<string>tswiftchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tswiftchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547905491103:ios:5da5c12cc6cad2a91992aa</string>
</dict>
</plist>